# Node packages
/server/node_modules
/server/arpGen.sh

# IDE settings
.vscode/*

# private credential files
credentials.js
settings.js

# Provate build and run script
**/docker-reset.ps1
arp-table.json
devices-cache.json
test.js